.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 480px;
  height: 400px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
    url("../images/header/hero-mobile.jpg");
  background-size: 480px 400px;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url(../images/header/hero_mobile@2x.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    & {
      background-image: url(../images/header/hero_mobile@3x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
      url(../images/header/hero_tablet.jpg);
    background-size: 768px 400px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(../images/header/hero_tablet@2x.jpg);
      }
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      & {
        background-image: url("../images/header/hero_tablet@3x.jpg");
      }
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
      url(../images/header/hero_desktop.jpg);
    background-size: 1600px 600px;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(../images/header/hero_desktop@2x.jpg);
      }
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      & {
        background-image: url(../images/header/hero_desktop@3x.jpg);
      }
    }
  }

  &-title {
    margin-bottom: $margin-right;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-text-white;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      max-width: 1600px;
    }
  }

  &-modal-btn {
    width: 200px;
    height: 50px;
    padding: 0;
    font-weight: bold;
    font-size: $font-size-second;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: $color-accent;
    color: $color-text-white;
    border-radius: 4px;
    border: none;
  }
}
