.portfolio .container {
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top   : 94px;
    padding-bottom: 94px;
  }
}

.project {
  flex-wrap                      : wrap;
  // @media screen and (min-width: 1200px) {
  //   padding-bottom: 94px;
  // }

  .item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width       : calc((100% - 30px) / 2);
      margin-right: $margin-right;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+1) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      width       : calc((100% - 2 * 30px) / 3);
      margin-right: $margin-right;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }


    //   &:nth-last-child(-n + 3) {
    //     margin-bottom: 94px;
    //   }
    // }
  }
}

.project-list-element {
  width     : 100%;
  box-sizing: border-box;
  border    : 1px solid #eeeeee;
  transition: box- 250ms linear;

  &:hover .project-list-overlay {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    transform: translateY(0%);
  }
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;


  .project-list-overlay {
    position                  : absolute;
    box-sizing                : border-box;
    top                       : 0;
    left                      : 0;
    width                     : 100%;
    height                    : 100%;
    transform                 : translateY(100%);
    transition                : 250ms ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding                   : 63px 24px;
    font-family               : $font-main;
    font-size                 : 18px;
    line-height               : 28px;
    background-color          : rgba(33, 150, 243, 0.9);
    letter-spacing            : 0.03em;
    color                     : $color-text-white;
  }

}

.project-list-element-item {
  padding: 20px 25px;
}

.project .item .name {
  margin-bottom : 4px;
  font-weight   : bold;
  font-size     : $font-size-third;
  line-height   : 2;
  letter-spacing: 0.06em;
  color         : $color-text-darkgrey;
}

.project .item .description {
  font-size     : $font-size-second;
  line-height   : 2;
  letter-spacing: 0.03em;
  color         : $color-text-grey;
}